@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lilita+One&family=New+Amsterdam&family=Rubik+Mono+One&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lilita+One&family=Luckiest+Guy&family=New+Amsterdam&family=Passion+One:wght@400;700;900&family=Rubik+Mono+One&family=Sankofa+Display&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lilita+One&family=Luckiest+Guy&family=New+Amsterdam&family=Passion+One:wght@400;700;900&family=Rubik+Mono+One&family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Sankofa+Display&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
.text-green {
    color: 
    #03989e;
    font-family: "Anton", sans-serif;
    font-style: normal;
   
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
html {
    scroll-behavior: smooth;
  }

::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background-color: #222222;}
::-webkit-scrollbar-thumb { background-color: #03989e; border-radius: 3px;}
::-webkit-scrollbar-thumb:hover { background-color: #03989e; border-radius: 3px;}

/*============= Constants =============*/
#page-suptitel{
    font-weight: 600;
    font-family: "New Amsterdam", sans-serif;
    font-style: normal;
    letter-spacing: 3px;
}
#page-suptitel span{
    color: #03989e;
    font-family: "New Amsterdam", sans-serif;
    font-style: normal;
    letter-spacing: 4px;
}

#btn-new{
    padding: 7px;
    background-color: #03989e;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    margin-top: 20px;
    font-family: "Anton", sans-serif;
    font-style: normal;
    letter-spacing: 1px;
    text-decoration: none;
}
#btn-new:hover{
    background-color: #03989e;
}

/*============= TOP BAR HEADER =============*/
.top-bar{
    background: #222222;
    height: 2.8rem;
    padding: 0.5rem 0;
  }
  .top-bar a{
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
  }
  
/*============= NAVIGATION =============*/
nav{
    background: #f9f9f9;
    position: fixed; /* Make it stick/fixed */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
}
.navbar-brand img{
    transition: 0.5s ease;
    height: 53px;
}

.navbar-toggler,
.navbar-toggler:focus{
    outline: none;
    box-shadow: none;
    border: none; 
}
.navbar-toggler span{
    color: #03989e;
}
.nav-item .nav-link{
    font-size: 18px;
    font-weight: 550;
    color: black;
    letter-spacing: 1px;
    transition: 0.5s ease;
    font-family: "Anton", sans-serif;
    font-style: normal;
}
.nav-item .nav-link.active,
.nav-item .nav-link:hover{
    color: #03989e;
    box-shadow: 0px 2px 0px #03989e;
}
.navbar-collapse .form-control{
    outline: 1px solid #03989e;
}
.navbar-collapse .btn{
    background: #03989e;
    color: white;
    border-radius: 5px;
    font-family: "Anton", sans-serif;
    font-style: normal;
}


/*============= Home Section =============*/
.home{
    width: 100%;
    height: 89.4vh;
    background-size: cover; /* Ensures the image covers the entire section */
    background-position: center; /* Centers the image */
    animation: slideShow 25s infinite; /* Adds the slideshow animation */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}
@keyframes slideShow {
    0% {
        background-image: url(../images/slide-1.jpg);
    }
    20% {
        background-image: url(../images/slide-6.jpg);
    }
    40% {
        background-image: url(../images/img-1.jpg);
    }
    60% {
        background-image: url(../images/slide-4.jpg);
    }
    80% {
        background-image: url(../images/elnido.jpg);
    }
    100% {
        background-image: url(../images/slide-2.jpg);
    }
}
.home .container{
    text-align: center;
    padding-top: 200px;
}
.home .container h5{
    color: white;
    font-size: 4rem;
    font-weight: 500;
    font-family: "Anton", sans-serif;
    font-style: normal;
    text-shadow: 0px 1px 1px black;
    letter-spacing: 2px;
}
.home .container h1{
    color: white;
    font-size: 3rem;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
    margin-top: 20px;
    font-family: "Anton", sans-serif;
    font-style: normal;
    letter-spacing: 2px;
}
.changecontent::after{
    content: ' ';
    color: #03989e;
    font-family: "Anton", sans-serif;
    font-style: normal;
    text-shadow: 0px 1px 1px black;
    animation: changetxt 18s infinite linear;
    letter-spacing: 2px;
}
@keyframes changetxt{
    0%{content: "Philippine";}
    10%{content: "Korea";}
    20%{content: "Japan";}
    30%{content: "China";}
    40%{content: "Dubai";}
    50%{content: "Europe ";}
    60%{content: "US";}
    70%{content: "Australia ";}
    80%{content: "Thailand";}
    90%{content: "Hong kong";}
    100%{content: "Vietnam ";}
}
.home .container p{
    color: white;
    font-size: .8rem;
    font-weight: 100;
    letter-spacing: 2px;
    font-family: "Anton", sans-serif;
    font-style: normal;
    text-shadow: 0px 1px 1px black;
    margin-top: 25px;
}
.home .container a{
    box-shadow: 0px 0.5px 1px rgb(0, 0, 0);
}


/*============= Section Book =============*/
.book{
    background: #f9f9f9;
}
.book form input,
.book form textarea{ 
    color: black;
    border: 1px solid #03989e;
    outline: none;
}
.book .card{
    box-shadow: 0px 3px 12px -5px rgba(0, 0, 0, 0.499);;
}

/*============= Section Packages =============*/
.packages .card{
    box-shadow: 0px 3px 12px -5px rgba(0, 0, 0, 0.499);
}
.packages .card:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.packages .card .card-body h3{
font-size: 1.6rem;
font-weight: 700;
font-family: "Saira Semi Condensed", sans-serif;
font-style: normal;
letter-spacing: 0.5px;
}
.packages .card .card-body p{
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(21, 21, 21, 0.708);
}
.packages .card .card-body h4{
    font-weight: 600;
    font-size: 1.2rem;
}



/*============= Section Services =============*/
.services .card{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 3px 12px -5px rgba(0, 0, 0, 0.499);
}
.services .card i{
    font-size: 4rem;
    color: #03989e;
    padding-top: 20px;
}
.services .card .card-body h3{
    font-weight: 600;
}
.services .card .card-body p{
    color: rgba(21, 21, 21, 0.708);
    font-size: .9rem;
}

/*============= Section Gallary =============*/
.gallary .card{
    border-radius: 5px;
    cursor: pointer;
}
.gallary .card img{
    border-radius: 5px;
    transition: 0.5s;
    box-shadow: 0px 3px 12px -5px rgba(0, 0, 0, 0.499);
}
.gallary .card img:hover{
    transform: scale(1.1);
}


/*============= About =============*/
.about{
    background: #f9f9f9;
}
.about .card{
    border-radius: 5px;
}
.about .card img{
    border-radius: 5px;
}
.about h2{
    font-weight: 600;
    letter-spacing: 1PX;
}
.about P{
    font-weight: 200;
}

/*============= FOOTER =============*/

footer{
    background-color: #383838;
}
footer img{
height: 3.5rem;
margin: 1.5rem auto;
}
footer p,
footer a,
.socket a{
color: white;
text-decoration: none;
}
.social{
list-style: none;
display: flex;
max-width: 16rem;
margin: 0 auto;
padding: 0;
}
.social li{
margin: 0 auto;
font-size: 2rem;
}
.social a:hover{
color: #03989e;
}
  
/*============= SOCKET =============*/
  .socket{
    background-color: #222222;
  }
  

/*============= MEDIA QUERIES =============*/

 /* Media Query for Mobile Devices */
 @media (max-width: 480px) {
    /* Home Section */
    .navbar-brand img{
        height: 40px;
    }
    .home{
        height: 65vh;
        background-position: 48%;
    }
    .home .container{
        padding-top: 155px;
    }
    .home .container h5{
        font-size: 2rem;
        font-weight: 300;
        letter-spacing: 1px;
    }
    .home .container h1{
        font-size: 1.5rem;
        font-weight: 250;
        margin-top: 15px;
        letter-spacing: 1px;
    }
    .home .container p{
        font-size: .5rem;
        font-weight: 50;
        letter-spacing: 1px;
        margin-top: 20px;
    }
    .home .container a{
        margin-top: 10px;
        font-size: .88rem;
    }


    /* Section Services */
    .services .card i{
        font-size: 3rem;
        padding-top: 15px;
    }
    .services .card .card-body h3{
        font-size: .9rem;
    }
    .services .card .card-body p{
        font-size: .8rem;
    }
    
    .services .card{
        max-width: 170px;
        margin: auto;
    }

    /* About */
    .about P{
        font-size: .8rem;
        font-weight: 150;
    }
    
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    .navbar-brand img{
        height: 40px;
    }
    .home{
        height: 70vh;
        background-position: 48%;
    }
    .home .container{
        padding-top: 175px;
    }
    .home .container h5{
        font-size: 2rem;
        font-weight: 300;
        letter-spacing: 1px;
    }
    .home .container h1{
        font-size: 1.5rem;
        font-weight: 250;
        margin-top: 15px;
        letter-spacing: 1px;
    }
    .home .container p{
        font-size: .5rem;
        font-weight: 50;
        letter-spacing: 1px;
        margin-top: 20px;
    }
    .home .container a{
        margin-top: 10px;
        font-size: .88rem;
    }

    /* Section Services */
    .services .card i{
        font-size: 3.2rem;
        padding-top: 15px;
    }
    .services .card .card-body h3{
        font-size: 1.2rem;
    }
    .services .card .card-body p{
    font-size: .9rem;
    }

    .services .card{
        max-width: 260px;
        margin: auto;
    }

    /* About */
    .about P{
        font-size: 1rem;
        font-weight: 150;
    }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
    .navbar-brand img{
        height: 40px;
    }
    .home{
        height: 80vh;
        background-position: 48% 0%;
    }
    .home .container h5{
        font-size: 4.5rem;
        font-weight: 400;
        letter-spacing: 2px;
    }
    .home .container h1{
        font-size: 3.5rem;
        font-weight: 350;
        margin-top: 15px;
        letter-spacing: 2px;
    }
    .home .container p{
        font-size: 1rem;
        font-weight: 50;
        letter-spacing: 1px;
        margin-top: 20px;
    }
    .home .container a{
        margin-top: 10px;
        font-size: 1rem;
    }

    /* Section Services */
    .services .card i{
        font-size: 3.2rem;
        padding-top: 15px;
    }
    .services .card .card-body h3{
        font-size: 1.2rem;
    }
    .services .card .card-body p{
    font-size: .9rem;
    }

    .services .card{
        max-width: 400px;
        margin: auto;
    }

    /* About */
    .about P{
        font-size: .8rem;
        font-weight: 150;
    }

    .about .card img{
        height: 300px;
    }
}

/*============= Modal =============*/
.modal-content {
  background: none; /* Makes the modal background transparent */
  border: none;
  box-shadow: none; /* Removes any shadow around the modal */
}

.modal-footer {
  justify-content: center; /* Centers the buttons in the footer */
}


.scroll-top {
    display: none;
    position: fixed;
    bottom: 1em;
    right: 2em;
    background-color: transparent;
    font-size: 2rem;
    transition: transform 0.2s ease-in-out;
  }

  .playbtn {
    position: relative;
    display: inline-block;
    padding: .7em 2em;
    margin: 1em 0;
    color: #03989e;
    text-decoration: none;
    transition: 0.5s;
    font-weight: 50;
    letter-spacing: .1em;
    overflow: hidden;
    font-weight: bold;
    background-color: #ffffff;
    border: none;

  }
  .playbtn:hover {
    background: #03989e;
    color: #ffffff;
    box-shadow: 0 0 5px #03989e, 0 0 25px #03989e, 0 0 50px #03989e, 0 0 200px #03989e;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  }
  
  .playbtn span {
    position: absolute;
    display: block;
  }
  
  .playbtn span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(90deg, transparent, #03989e);
    animation: animate1 1s linear infinite;
  }
  
  @keyframes animate1 {
    0% {
      left: -100%;
    }
    50%,
    100% {
      left: 100%;
    }
  }
  
  .playbtn span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 10px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03989e);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
  }
  
  @keyframes animate2 {
    0% {
      top: -100%;
    }
    50%,
    100% {
      top: 100%;
    }
  }
  
  .playbtn span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(270deg, transparent, #03989e);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
  }
  
  @keyframes animate3 {
    0% {
      right: -100%;
    }
    50%,
    100% {
      right: 100%;
    }
  }
  
  .playbtn span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 10px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03989e);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
  }
  
  @keyframes animate4 {
    0% {
      bottom: -100%;
    }
    50%,
    100% {
      bottom: 100%;
    }
  }


  .btninq{
    border:none;
    background-color:#03989e;
    font-size:1.5em;
    padding:.1em .1em;
    text-transform:capitalize;
    cursor:pointer;
    transform:all 0.3s;
    position:relative;
    color: #ffffff;
    
  }
  .btninq:before{
    content:"";
    position :absolute;
    width:24px;
    height:24px;
    top:-5px;
      left:-5px;
    border-top:2px solid #03989e;
    border-left:2px solid #03989e;
    transition:all 0.25s;
    
  }
  .btninq:hover:before ,button:hover:after{
    width:104%;
    height:110%;
  }
  .btninq:after{
    content:"";
    position :absolute;
    width:24px;
    height:24px;
    bottom:-5px;
      right:-5px;
    border-bottom:2px solid #03989e;
    border-right:2px solid #03989e;
    transition:all 0.30s;
  }
  

  .quote-container {
    position: relative;
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;
    max-width: 350px;
    height: 450px;
    margin: 0 auto;
    overflow: hidden;
    padding: 40px;
    border: 1px solid #e4d6d6;
  }
  .quote-container:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    border: none;
  }
  
  .bottom {
    position: absolute;
    min-height: 200px;
    bottom: 0;
    left: 0;
    line-height: 0;
    transform: rotate(180deg);
    width: 440px;
  }
  
  .bottom svg.curves {
    position: relative;
    display: block;
    width: 100%;
    height: 300px;
    transform: rotateY(180deg);
  }
  
  .bottom .shape-fill {
    fill: #03989e;
  }
  
  .star-rating {
    color: #03989e;
    margin: 17px 0 10px;
    font-size: 1.8em;
    text-align: center;
  }
  
  p.quote {
    margin: 15px 0;
    font-size: 1.4em;
    line-height: 1.3em;
    text-align: center;
  }
  
  .reviewer-photo {
    position: relative;
    z-index: 9;
    margin: 20px auto 10px;
    text-align: center;
  }
  
  .reviewer-photo img {
    border-radius: 50%;
    border: 6px solid #ffffff;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.1));
  }
  
  .reviewer-details {
    position: relative;
    z-index: 9;
    text-align: center;
    color: #ffffff;
  }
  
  .reviewer-details .name {
    font-size: 20px;
    font-weight: 600;
    display: block;
    padding: 7px 0 10px 0;
  }
  
  .reviewer-details .title {
    font-size: 17px;
    font-weight: 400;
  }


.tabs input[type=radio] {
  display: none; 
}
.tabs label {
  transition: background 0.4s ease-in-out, height 0.2s linear;
  display: inline-block;
  cursor: pointer;
  color: #2EBEB9;
  width: 20%;
  height: 3em;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: #FCFCFC;
  text-align: center;
  line-height: 3em; 
}
.tabs label:last-of-type {
  border-bottom: none; 
}
.tabs label:hover {
  background: #259692;
  color:#ffffff;
}
@media screen and (max-width: 1600px) {
.tabs label {
  width: 15%; } 
}
@media screen and (max-width: 900px) {
.tabs label {
  width: 20%; 
  } 
}
@media screen and (max-width: 600px) {
.tabs label {
  width: 100%;
  display: block;
  border-bottom: 2px solid #C7C6C4;
  border-radius: 0; 
} 
}
@media screen and (max-width: 600px) {
.tabs {
  margin: 0; 
} 
}

#tab1:checked + label, #tab2:checked + label, #tab3:checked + label, #tab4:checked + label {
  background: #2EBEB9;
  color: #FFFFFF; }

.tab-content {
  position: absolute;
  top: -9999px;
  padding: 10px; 
}

.tab-content-wrapper{
  background: #FCFCFC;
  border-top: #2EBEB9 5px solid;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  
}
@media screen and (max-width: 600px) {
.tab-content-wrapper, .tab1-content-wrapper {
  border: none;
  border-radius: 0; 
} 
}

#tab1:checked ~ .tab-content-wrapper #tab-content-1, #tab2:checked ~ .tab-content-wrapper #tab-content-2, #tab3:checked ~ .tab-content-wrapper #tab-content-3, #tab4:checked ~ .tab-content-wrapper #tab-content-4 {
  position: relative;
  top: 0px;
 }


  
  

  
